<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html :: dynamic(~{::title},~{::body})}">
<head>
<meta charset="ISO-8859-1">
<title>List Product</title>
</head>
<body class="main-layout inner_posituong computer_page">
	<div class="w3-container w3-text-grey w3-margin-top">
		<div class="w3-leftbar w3-text-grey w3-padding-right">
			<p>
				<b class="w3-margin-left"> Shop | [[${cname}]]</b>
			</p>
		</div>
	</div>
	<!-- Layout -->

	<!-- Layout -->
	<div class="w3-row-padding">
		<div class="w3-col m3 s12">
			<div class="w3-card w3-section">
				<header class="w3-2021-inkwell">
					<h4 class="w3-text-white w3-center">
						<b>Filter</b>
					</h4>
				</header>
				<div class="w3-container">
					<label>Range</label>
					<form th:action="@{|/product/range|}" method="post">
					<div class="w3-bar">
						<input name="from" class="w3-input w3-border w3-round-large w3-bar-item"
							type="number" style="width: 65px;" /> <b class="w3-bar-item">-</b>
						<input name="to" class="w3-input w3-border w3-round-large w3-bar-item"
							type="number" style="width: 65px;" />
						<button
							class="w3-button w3-round-large w3-green w3-bar-item w3-margin-left">Filter</button>
					</div>
					</form>
				<form th:action="@{|/product/search|}" method="post">
					<label>Search</label> <input
						class="w3-input w3-border w3-round-large" type="text" name="name" />
				</form>
				</div>
				<br>
			</div>
		</div>
		<div class="w3-col m9 s12 w3-margin-top">

			<!-- Product grid -->
			<div class="w3-row w3-row-padding">

				<div class="w3-col l3 s6" th:each="item: ${items}">
					<div class=" w3-card w3-margin-bottom" style="height: 240px;">
						<div class="w3-display-container w3-padding-16 w3-center">
							<img th:src="@{|/images/${item.image}|}" style="max-width: 80%">
							<div class="w3-display-middle w3-display-hover">
								<!-- <a th:href="@{|/product/${item.id}|}"
									} class="w3-button w3-green">More details <i
									class="fa-solid fa-eye"></i>
								</a>  -->
								<a type="button" th:attr="ng-click =@{|cart.add(${item.id})|}"
									class="w3-button w3-green">Add to cart <i class="fa-solid fa-cart-plus"></i>
								</a>
							</div>
							<p style="text-align: center;">
								[[${item.name}]]<br> <b>[[${item.price}]]</b>
							</p>
						</div>

					</div>
				</div>
			</div>
			<!-- End Product Grid -->

		</div>
	</div>


	<!-- And layout -->

</body>
</html>