<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<nav>
		<a th:href="@{/home/index}">[(#{home})]</a> <a
			th:href="@{/home/about}" th:text="#{about}"></a> <a
			th:href="@{/home/contact}" th:text="#{contact}"></a> <a
			th:href="@{/home/form}" th:text="#{form}"></a> [<a href="?lang=vi">Tiếng
			Việt</a>] [<a href="?lang=en">English</a>]
	</nav>
	
	<div th:fragment="navbar">
		<div class="home-nav w3-light-grey">
			<div class="logo">
				<a href="/"><img src="/images/logo.png"></a>
				<strong sec:authorize="isAuthenticated()">Hi <span  th:text="${name}"></span> <i class="fa-solid fa-hands-clapping"></i></strong>
			</div>

			<div class="menu">
				<div class="dropdown-home">
					<a class="dropbtn-home" href="/product/list">Sản Phẩm</a>
					<div class="dropdown-content-home">
						<a th:each="c:${cates}" th:href="@{|/product/list?cid=${c.id}|}">[[${c.name}]]</a>
					</div>
				</div>
				<a href="/cart/view">Giỏ hàng ({{cart.count}})</a>
				<a sec:authorize="isAuthenticated()" href="/order/list">Đơn hàng</a>
				<a sec:authorize="hasAnyRole('STAF','DIRE')" href="/admin"><i class="fa-regular fa-user"></i> Quản trị viên</a>
				<a sec:authorize="!isAuthenticated()" href="/login/form"><i class="fa-regular fa-user"></i> Đăng Nhập/Đăng kí</a>
				<a sec:authorize="isAuthenticated()" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất</a>
			</div>
		</div>
	</div>
</body>
</html>