<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<nav>
		<a th:href="@{/home/index}">[(#{home})]</a> <a
			th:href="@{/home/about}" th:text="#{about}"></a> <a
			th:href="@{/home/contact}" th:text="#{contact}"></a> <a
			th:href="@{/home/form}" th:text="#{form}"></a> [<a href="?lang=vi">Tiếng
			Việt</a>] [<a href="?lang=en">English</a>]
	</nav>

	<!-- header -->
	<div th:fragment="navbar">
		<!-- header inner -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light"
		style="width: 85%; height: auto; margin-top: 10px; margin-left: 8%;">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#"><b>FASHION</b></a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 50%;">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">SẢN PHẨM</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">GIỚI THIỆU</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">SALE</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">CSKH</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">LIFESTYLE</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#"><i class="fa fa-shopping-cart"
					style="font-size:24px"></i></a>
			  </li>
			</ul>
			<form class="d-flex">
			  <button class="btn btn-outline-success" type="SignUp" style="width: 130px;">SIGN UP</button>
			</form>
		  </div>
		</div>
	  </nav>
	</div>
	<!-- end header inner -->
	<!-- end header -->
</body>
</html>