<!DOCTYPE html>
<!-- Thay thế toàn bộ trang này bằng trang layout, nhưng trước khi thay thì
lấy toàn bộ phần body ở trang này truyền vào phần view có ở layout
 -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout.html :: dynamic(~{::title},~{::body})}">

<head>
   <meta charset="utf-8">
   <title>Trang chủ</title>
</head>

<body class="main-layout">
   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
      style="width: 85%; height: auto; margin-top: 10px; margin-left: 8%;">
      <div class="carousel-inner" style="border-radius: 20px;">
         <div class="carousel-item active">
            <img src="/images/home/head1.png" class="d-block w-100" alt="...">
         </div>
         <div class="carousel-item">
            <img src="/images/home/head2.jpg" class="d-block w-100" alt="...">
         </div>
         <div class="carousel-item">
            <img src="/images/home/head3.jpg" class="d-block w-100" alt="...">
         </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
         data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
         data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
      </button>
   </div>

   <div class="container-fluid" style="width: 70%; margin-top: 20px; margin-left: 15%;">
      <form class="d-flex" style="height: 50px;">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
   </div>


   <div style="width: 100%; height: 100px; background-color: coral; margin-top: 10px; margin-bottom: 20px;">
      <div>
         <style>
            img.thuonghieu {
               width: 100px;
               height: 50px;
               margin-top: 25px;
               margin-left: 130px;
            }
         </style>
         <a href="#"><img class="thuonghieu" src="/images/home/HM-Logo.png" alt=""></a>
         <a href="#"><img class="thuonghieu" src="/images/home/R-removebg-preview.png" alt=""></a>
         <a href="#"><img class="thuonghieu" src="/images/home/Shopify-removebg-preview.png" alt=""></a>
         <a href="#"><img class="thuonghieu" src="/images/home/Lacoste-Emblem.png" alt=""></a>
         <a href="#"><img class="thuonghieu" src="/images/home/Levis-Logo-1969-2003.png" alt=""></a>
         <a href="#"><img class="thuonghieu" src="/images/home/amazonbeauty1000-364179e8c4-removebg-preview.png" alt=""></a>
      </div>
   </div>

   <h3 style="text-align: center;color: black;"><b>NEW ARRIVALS</b></h3>
   <div style="width: 85%; height: auto; margin-top: 10px; margin-left: 9%; text-align: center;">
      <div style="margin-top: 30px; margin-left: 120px;">
         <div class="card" style="width: 18rem; margin-left: 30px; float: left;">
            <img src="/images/home/outfit_6.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 23rem;">
            <div class="card-body">
               <h5 class="card-title">Hoodies & Sweetshirt</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
               <button type="button" class="btn btn-outline-success">Xem ngay!</button>
            </div>
         </div>
         <div class="card" style="width: 18rem; margin-left: 30px; float: left;">
            <img src="/images/home/outfit_7.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 23rem;">
            <div class="card-body">
               <h5 class="card-title">Coats & Parkas</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
               <button type="button" class="btn btn-outline-success">Xem ngay!</button>
            </div>
         </div>
         <div class="card" style="width: 18rem; margin-left: 30px; float: left;">
            <img src="/images/home/outfit_4.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 23rem;">
            <div class="card-body">
               <h5 class="card-title">Tees & T-Shirt</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
               <button type="button" class="btn btn-outline-success">Xem ngay!</button>
            </div>
         </div>
      </div>
   </div>

   <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active" style="margin-top: 20px;">
            <img src="/images/home/pc_01_3.jpg" class="d-block w-100" alt="...">
         </div>
      </div>
   </div>




   <h3 style="text-align: center; padding-top: 20px; color: black;"><b>FEATURED</b></h3>
   <div>
      <style>
         img.feature {
            height: 400px;
         }
      </style>
      <div class="row row-cols-1 row-cols-md-2 g-4" style="width: 85%; height: auto; margin-top: 5px; margin-left: 8%;">
         <div class="col">
            <div class="card">
               <img src="/images/home/b.png" class="card-img-top feature" alt="...">
               <div class="card-body">
                  <h5 class="card-title">All Under $40</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                     additional
                     content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-outline-success">Xem ngay!</button>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card">
               <img src="/images/home/b.png" class="card-img-top feature" alt="...">
               <div class="card-body">
                  <h5 class="card-title">All Under $40</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                     additional
                     content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-outline-success">Xem ngay!</button>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card">
               <img src="/images/home/b.png" class="card-img-top feature" alt="...">
               <div class="card-body">
                  <h5 class="card-title">All Under $40</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                     additional
                     content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-outline-success">Xem ngay!</button>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card">
               <img src="/images/home/b.png" class="card-img-top feature" alt="...">
               <div class="card-body">
                  <h5 class="card-title">All Under $40</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                     additional
                     content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-outline-success">Xem ngay!</button>
               </div>
            </div>
         </div>
      </div>
   </div>



   <div
      style="width: 100%; height: 300px; margin-top: 20px; background-color: orange; color: white; text-align: center;">
      <h1 style="padding-top: 70px;">ĐĂNG KÍ THÀNH VIÊN, NHẬN VÔ VÀNG ƯU ĐÃI</h1>
      <p>Nhận thông tin và các chương trình khuyến mãi sắp tới</p>
      <div class="container-fluid" style="width: 50%; margin-top: 20px;">
         <form class="d-flex" style="height: 50px; text-align: center;">
            <input class="form-control me-2" type="search" placeholder="Nhập email của bạn ..."
               aria-label="Nhập email của bạn ...">
            <button class="btn btn-outline-dark" type="email" style="width: 100px;">Gửi</button>
         </form>
      </div>
   </div>

</body>

</html>