@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.Product-box {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 200px 2px 0 2px;
}

.box-left {
    width: 20%;
    position: relative;
}

.title {
    background-color: gainsboro;
    width: 250px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.title p {
    padding-top: 7px;
}

.box-left p {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    position: relative;
}

.box-left p span i {
    position: absolute;
    right: 10px;
    bottom: 1px;
    font-size: 10px;
    transition: transform 0.3s ease; /* Thêm transition cho hiệu ứng mượt */
}

.sex {
    display: flex;
    font-size: 12px;
    margin-left: 5px;
    padding-top: 4px;
    transition: display 0.3s ease-in-out;
}

.sex p {
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    right: 60px;
}

.sex .male {
    font-size: 1px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12px; 
    height: 12px; 
    border: 0.1px solid #333232; 
    outline: none;
    cursor: pointer;
    position: relative; 
}

label {
    margin-left: 4px;
    display: inline-block; 
}

input[type="checkbox"]:checked:before {
    content: "\2713"; 
    font-size: 8px; 
    color: #000; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.box-right {
    width: 80%;
}

.search-box {
    width: 1100px;
    position: relative;
}

.search-box input {
    width: 1100px;
    height: 30px;
    padding-left: 16px;
    border: 0.1px solid #000;
}

.search-box button {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 30px;
    border: none;
    cursor: pointer;
}

#searchButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#searchButton:hover {
    transform: scale(1.1);
}


.search-box button i {
    font-size: 18px;
} 

.toggle-box.collapsed .sex {
    display: none;
}

.bx.bxs-down-arrow {
    transform: rotate(-90deg);
    transition: transform 0.3s ease; 
}

.bx.bxs-down-arrow.rotated {
    transform: rotate(0deg);
}

.Box-item {
    padding-left: 20px;
    width: 1100px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 30px;
    position: relative;
}

.image-container {
    position: relative;
}

.item img {
    width: 150px;
    height: 200px;
}

.item .brand {
    font-size: 12px;
    color: darkgrey;
    margin: 15px 0 12px 0;
}

.item .price {
    font-size: 15px;
}

.second-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.item:hover .second-image {
    opacity: 1;
}
