<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html :: dynamic(~{::title},~{::body})}">
<head>
<meta charset="ISO-8859-1">
<title>OrderDetail</title>
</head>
<body class="main-layout inner_posituong computer_page">

	<div class="w3-container">
		<div class="w3-text-grey w3-section">
			<div class="w3-leftbar w3-text-grey w3-padding-right">
				<p>
					<b class="w3-margin-left">Order | details</b>
				</p>
			</div>
		</div>
		<div class="table-responsive w3-margin-bottom">
			<table class="w3-table-all w3-card w3-animate-opacity">
				<thead>
					<tr class="w3-2021-inkwell">
						<th>OrderId</th>
						<th>CreateDate</th>
						<th>Address</th>
						<th>Phone</th>
					</tr>
				</thead>

				<tr th:object="${order}">
					<td th:text="*{id}"></td>
					<td th:text="*{createDate}"></td>
					<td th:text="*{address}"></td>
					<td th:text="*{sdt}"></td>
				</tr>

			</table>
		</div>

		<!-- Details -->
		<div class="w3-text-grey w3-section">
			<div class="w3-leftbar w3-text-grey w3-padding-right">
				<p>
					<b class="w3-margin-left">Order | details</b>
				</p>
			</div>
		</div>
		<div class="table-responsive w3-margin-bottom">
			<table class="w3-table-all w3-card w3-animate-opacity"
				th:object="${order}">
				<thead>
					<tr class="w3-2021-inkwell">
						<th>ProductId</th>
						<th>ProductName</th>
						<th>Photo</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Total</th>
					</tr>
				</thead>

				<tr th:each="detail: *{orderDetails}" th:object="${detail}">
					<td>[[*{product.id}]]</td>
					<td>[[*{product.name}]]</td>
					<td><img alt="images" th:src="@{|/images/*{product.image}|}"
							style="max-width: 100px;"></td>
					<td>[[*{price}]]</td>
					<td>[[*{quantity}]]</td>
					<td>[[*{price*quantity}]]</td>
				</tr>

			</table>
		</div>
		<!-- End details -->
	</div>
</body>
</html>