<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout.html :: dynamic(~{::title},~{::body})}">

<head>
	<meta charset="ISO-8859-1">
	<title>My orders</title>
</head>

<body class="main-layout inner_posituong computer_page">

	<div class="breadcrumb breadcrumb-order">
		<a href="/">Trang chủ</a>
		<span>&nbsp;>&nbsp;</span>
		<span>Đơn hàng</span>
	</div>

	<nav class="order-list-menu">
		<a id="confirmed" class="active">Đã xác nhận ([[${#lists.size(orders)}]])</a>
		<a id="delivering">Đang giao ([[${#lists.size(deliveringOrders)}]])</a>
		<a id="completed">Giao thành công ([[${#lists.size(completedOrders)}]])</a>
		<a id="cancel">Đã hủy ([[${#lists.size(cancelOrders)}]])</a>
	</nav>
	<section id="confirmed-section">
		<div th:if="${not #lists.isEmpty(orders)}" class="order-detail-home" th:each="order,state : ${orders}">
			<div class="order-detail-title">
				<h4>Mã đặt hàng: [[${order.id}]]</h4>
				<h4>Tổng tiền: [[${order.totalAmount}]]</h4>
			</div>
			<div>
				<span>Số điện thoại: [[${order.phoneNumber}]]</span><br>
				<span>Địa chỉ giao hàng: [[${order.address}]]</span>
			</div>
			<div>
				<small>Ngày đặt hàng: [[${order.createDate}]]</small>
				<a th:href="@{|/order/detail/${order.id}|}">Xem chi tiết</a>
			</div>
		</div>
		<div th:if="${#lists.isEmpty(orders)}" class="no-order">
			<small>Chưa có đơn hàng nào.</small>
		</div>
	</section>

	<!------->
	<section class="d-none" id="delivering-section">
		<div th:if="${not #lists.isEmpty(deliveringOrders)}" class="order-detail-home"
			th:each="order,state : ${deliveringOrders}">
			<div class="order-detail-title">
				<h4>Mã đặt hàng: [[${order.id}]]</h4>
				<h4>Tổng tiền: [[${order.totalAmount}]]</h4>
			</div>
			<div>
				<span>Số điện thoại: [[${order.phoneNumber}]]</span><br>
				<span>Địa chỉ giao hàng: [[${order.address}]]</span>
			</div>
			<div>
				<small>Ngày đặt hàng: [[${order.createDate}]]</small>
				<a th:href="@{|/order/detail/${order.id}|}">Xem chi tiết</a>
			</div>
		</div>
		<div th:if="${#lists.isEmpty(deliveringOrders)}" class="no-order">
			<small>Chưa có đơn hàng nào.</small>
		</div>
	</section>

	<!----->
	<section class="d-none" id="completed-section">
		<div th:if="${not #lists.isEmpty(completedOrders)}" class="order-detail-home"
			th:each="order,state : ${completedOrders}">
			<div class="order-detail-title">
				<h4>Mã đặt hàng: [[${order.id}]]</h4>
				<h4>Tổng tiền: [[${order.totalAmount}]]</h4>
			</div>
			<div>
				<span>Số điện thoại: [[${order.phoneNumber}]]</span><br>
				<span>Địa chỉ giao hàng: [[${order.address}]]</span>
			</div>
			<div>
				<small>Ngày đặt hàng: [[${order.createDate}]]</small>
				<a th:href="@{|/order/detail/${order.id}|}">Xem chi tiết</a>
			</div>
		</div>
		<div th:if="${#lists.isEmpty(completedOrders)}" class="no-order">
			<small>Chưa có đơn hàng nào.</small>
		</div>
	</section>
	<!------>
	<section class="d-none" id="cancel-section">
		<div th:if="${not #lists.isEmpty(cancelOrders)}" class="order-detail-home" th:each="order,state : ${cancelOrders}">
			<div class="order-detail-title">
				<h4>Mã đặt hàng: [[${order.id}]]</h4>
				<h4>Tổng tiền: [[${order.totalAmount}]]</h4>
			</div>
			<div>
				<span>Số điện thoại: [[${order.phoneNumber}]]</span><br>
				<span>Địa chỉ giao hàng: [[${order.address}]]</span>
			</div>
			<div>
				<small>Ngày đặt hàng: [[${order.createDate}]]</small>
				<a th:href="@{|/order/detail/${order.id}|}">Xem chi tiết</a>
			</div>
		</div>
		<div th:if="${#lists.isEmpty(cancelOrders)}" class="no-order">
			<small>Chưa có đơn hàng nào.</small>
		</div>
	</section>

	<script>
		$(document).ready(function () {
			$(".order-list-menu a").click(function () {
				$(".order-list-menu a").removeClass("active");
				$(this).addClass("active");
				const targetId = $(this).attr("id");
				const section = $('section');
				section.addClass('d-none');
				$("#" + targetId + "-section").removeClass("d-none");
			});
		});
	</script>
</body>

</html>